

<footer >

<div class="footer">
  <div class="col-izquierda">
    <img src="/public/images/logo.png" alt="Logo" id="logoF">

    <h2 class="titulo-descripcion">Diseño auténtico y calidad artesanal en cada pieza...</h2>

    <p class="descripcion">
      En Peletería Cuero y Color celebramos el cuero colombiano a través de productos elaborados 100% a mano:
      delantales para BBQ y oficios, chaquetas, bolsos, billeteras, correas y accesorios creados para acompañar cada
      estilo de vida. Nuestra esencia combina tradición, resistencia y detalle, dando vida a piezas duraderas que
      transmiten carácter, elegancia y personalidad.
    </p>
  </div>

    

  <div class="col-derecha">

    <h3 id="tittle">nuestras redes sociales</h3>
    <ul class="redes">
        <li><a href="https://www.instagram.com/peleteria_cuero_y_color?igsh=ZTNrdmg5OXBycnR2&utm_source=qr"><img src="/public/images/instagram.png" alt=""></a></li>
        <li><a href="https://www.facebook.com/share/16tm213MLf/?mibextid=wwXIfr"><img src="/public/images/facebook.png" alt=""></a></li>
        <li><a href="https://w.app/cuero-y-color" id="carritoBtn"><img src="/public/images/whatsapp.png" alt=""></a></li>
    </ul>
  </div>
</div>
</div>



<p class="frase-final">
  © 2025 Cuero y Color - Todos los derechos reservados | Calle 17 sur #24d - 04 | NIT: 52750128-0
</p>



    

        

</footer>

