<!DOCTYPE html>
<html lang="es">
<head>
  <% include ./partials/head %>
</head>
<body>
  <%- include('./partials/header') %>

  <main class="cart-confirm">
    <h1>¡Gracias por tu compra!</h1>
    <p>Tu pedido fue procesado correctamente.</p>

    <a href="/producto" class="btn">Seguir comprando</a>
  </main>

  <%- include('./partials/footer') %>
</body>
</html>
