<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

</head>

<body>
    <h1>Productos buscados (resultados de busqueda)</h1>
    <p>El termino buscado es: <%= terminoBuscado %> </p>
</body>
</html>